@font-face {
  font-family: 'Nanum Gothic Bold';
  src: url(./assets/fonts/NanumGothic-Bold.ttf);
}


@font-face {
  font-family: 'Nanum Gothic ExtraBold';
  src: url(./assets/fonts/NanumGothic-ExtraBold.ttf);
}

@font-face {
  font-family: 'Nanum Gothic Regular';
  src: url(./assets/fonts/NanumGothic-Regular.ttf);
}

@font-face {
  font-family: 'Poiret One';
  src: url(./assets/fonts/PoiretOne-Regular.ttf);
}

@font-face {
  font-family: 'Jura';
  src: url(./assets/fonts/Jura.ttf);
}


body {
  margin: 0;
  display: flex;
  height: 500vh;
  place-items: center;
  font-family: 'Nanum Gothic Regular', sans-serif;
}