@font-face {
  font-family: 'Nanum Gothic Bold';
  src: url($lib/assets/fonts/NanumGothic-Bold.ttf);
}


@font-face {
  font-family: 'Nanum Gothic ExtraBold';
  src: url($lib/assets/fonts/NanumGothic-ExtraBold.ttf);
}

@font-face {
  font-family: 'Nanum Gothic Regular';
  src: url($lib/assets/fonts/NanumGothic-Regular.ttf);
}

@font-face {
  font-family: 'Poiret One';
  src: url($lib/assets/fonts/PoiretOne-Regular.ttf);
}

@font-face {
  font-family: 'Jura';
  src: url($lib/assets/fonts/Jura.ttf);
}

@font-face {
  font-family: 'Ubuntu';
  src: url($lib/assets/fonts/Ubuntu-Medium.ttf);
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  font-size: 1.25em;
  place-items: center;
  color: white;
  font-family: 'Nanum Gothic Regular', sans-serif;
}

a {
  color: #0eb8b9;
  font-weight: bold;
}