@media screen and (max-width: 800px) {
	.card {
		width: 300px;
		height: 100px;
	}

	.icon {
		width: 100px;
		height: 100px;
	}
	.name {
		font-size: 14px;
	}
	.desc {
		font-size: 10px;
	}
	.stat {
		font-size: 14px;
	}
	.links {
		grid-template-columns: auto auto;
	}
}

@media screen and (max-width: 500px) {
	/* .card {
		transform: scale(0.6);
	} */
	.links {
		transform: scale(0.5);
	}
}

@media screen and (max-width: 300px) {
	.card {
		width: 100px;
	}
	.name,
	.desc,
	.stat {
		opacity: 0;
	}
}
