@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Nanum+Gothic&family=Poiret+One&family=Poppins:ital,wght@0,100;0,400;1,100;1,400&family=Roboto&family=Ubuntu:wght@500&family=Varela&family=Varela+Round&display=swap");

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Nanum Gothic", sans-serif;
	color: white;
}

.background {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgb(3, 40, 33);
	background: linear-gradient(
		90deg,
		rgba(3, 40, 33, 1) 0%,
		rgba(4, 30, 46, 1) 100%
	);
	pointer-events: none;
}

.arrow {
	display: block;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 75px;
	height: 75px;
	background: url("/img/arrow.svg");
	z-index: 2;
	transform: rotate(90deg);
	animation: jump 3s ease-in-out infinite;
}

@keyframes jump {
	0% {
		transform: rotate(90deg) translateY(10px);
	}
	50% {
		transform: rotate(90deg) translateY(0px);
	}
	100% {
		transform: rotate(90deg) translateY(10px);
	}
}

#particles-top,
#particles-bottom {
	width: 100%;
	height: 100%;
}

.foreground {
	z-index: 1;
	background: transparent;
}

.based-wrapper {
	position: relative;
	overflow: hidden;
	width: 1221px;
	height: 599px;
}

.content-wrapper {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	/* overflow-y: hidden; */
	align-items: center;
	justify-content: center;
	transform-style: preserve-3d;
}

.project {
	height: 150px;
	width: 400px;
	font-size: 14px !important;
}

.project-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	max-height: 100vh;
	align-items: center;
	justify-content: center;
}

.card,
.project {
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	border-radius: 25px;
	font-size: 20px;
	border: solid 3px rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	padding: 10px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.card p {
	margin-bottom: 15px;
}

.card h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.button {
	width: 100%;
	border: 2px white solid;
	border-radius: 20px;
	transition: 0.3s ease-in-out;
}

.button:hover {
	background-color: white;
}

.button a {
	display: block;
	width: 100%;
	font-size: 48px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	font-family: "Jura";
	background-clip: border-box;
	color: rgba(255, 255, 255, 1);
	transition: 0.3s ease-in-out;
	background: linear-gradient(
		45deg,
		rgba(238, 47, 235, 1) 20%,
		rgba(255, 32, 184, 1) 40%,
		rgba(170, 98, 235, 1) 50%,
		rgba(61, 249, 249, 1) 70%
	);
	-webkit-background-clip: text;
}

.button a:hover {
	color: rgba(255, 255, 255, 0);
}

.link-box {
	display: flex;
	height: 300px;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

.card .text {
	text-align: center;
}

.cube {
	width: 150px;
	height: 150px;
	font-family: "Ubuntu", sans-serif;
	position: relative;
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	transform: rotateY(30deg) rotateX(-10deg);
	transition: 0.7s ease-in-out;
	cursor: pointer;
	/* animation: spin 3s linear infinite; */
}

.cube::before {
	position: absolute;
	content: "";
	background-color: var(--color1);
	width: 150px;
	height: 150px;
	transform-style: preserve-3d;
	transform: rotateY(90deg) translateZ(-75px);
}

.cube:hover {
	transform: rotateY(30deg) rotateX(-100deg);
}

.cube .face {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	transform-style: preserve-3d;
	top: 0;
	left: 0;
	width: 150px;
	/* border: solid 3px black; */
	height: 150px;
	background: linear-gradient(180deg, var(--color1) 0%, var(--color2) 100%);
	transform: rotateX(calc(var(--i) * 90deg)) translateZ(75px);
}

.face img {
	width: 125px;
	height: 125px;
}

.links {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 100px;
}
