.card {
	width: 600px;
	height: 150px;
	display: grid !important;
	grid-template-columns: 33% 66%;
	grid-template-rows: 20% 65% 15%;
	transition: all 0.2s ease-in-out;
}

a {
	text-decoration: none;
	color: white;
}

.name {
	font-weight: bold;
}

.desc {
	display: flex;
	align-items: center;
	grid-column-start: 2;
	grid-column-end: 2;
	font-size: 14px;
}

.stat {
	grid-row: 3;
	grid-column: 2;
	font-size: 16px;
}

.icon {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	width: 150px;
	border-radius: 20px;
	height: 150px;
}

.card:hover {
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 0.51);
}
